.info-card {
  background-color: #caffee;
  background-image: radial-gradient(closest-side, #d3fff6, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side, #f6a5ff, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side, #ffc6c6, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side, #c7ccff, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side, #ffd3ad, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side, #5893ff, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side, #fffb87, rgba(0, 0, 0, 0));
  background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
    110vmax 110vmax, 90vmax 90vmax;
  background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax,
    -30vmax -10vmax, 50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 4s movement linear infinite;
}

.dark-info-card {
  background-color: #1c3354;
  background-image: radial-gradient(closest-side, #148e55, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side, #49725a, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side, #9f565d, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side, #6a724b, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side, #a86450, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side, #8c4f6a, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side, #b05a03, rgba(0, 0, 0, 0));
  background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
    110vmax 110vmax, 90vmax 90vmax;
  background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax,
    -30vmax -10vmax, 50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 4s movement linear infinite;
}

@keyframes movement {
  0%,
  100% {
    background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
      110vmax 110vmax, 90vmax 90vmax;
    background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax,
      -30vmax -10vmax, 50vmax 50vmax;
  }
  25% {
    background-size: 100vmax 100vmax, 90vmax 90vmax, 100vmax 100vmax,
      90vmax 90vmax, 60vmax 60vmax;
    background-position: -60vmax -90vmax, 50vmax -40vmax, 0vmax -20vmax,
      -40vmax -20vmax, 40vmax 60vmax;
  }
  50% {
    background-size: 80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax,
      60vmax 60vmax, 80vmax 80vmax;
    background-position: -50vmax -70vmax, 40vmax -30vmax, 10vmax 0vmax,
      20vmax 10vmax, 30vmax 70vmax;
  }
  75% {
    background-size: 90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax,
      90vmax 90vmax, 70vmax 70vmax;
    background-position: -50vmax -40vmax, 50vmax -30vmax, 20vmax 0vmax,
      -10vmax 10vmax, 40vmax 60vmax;
  }
}
